body{
	width: 1000px;
	height: 1168px;
}

.profile{
    border-style: solid none none none;
}

.profile .whitehat {
	color: #070;
}

.profile .blackhat{
	color: #700;
}

.profile p{
    column-count: 1;
}


.want{
	padding: 0px 0px 0px 30px;
}

.ulwant li{
    margin: 0px 0px 10px 0px;
}

.subwants li{
    margin: 0px 0px 0px 0px;

}

.subwants{
    margin: 0px 0px 10px 0px;
}
